*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html , body {
    height: 100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 14.5vw 2vw;
}

#page1 h1 {
    font-size: 16.2vw;
    font-family: futura;
    line-height: 13.5vw;
    letter-spacing: -15px;
}