* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

*::selection {
    background-color: black;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    background-color:#F7F7F7;
}

#nav{
    width: 100%;
    position: fixed;
    z-index:99;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#nav-part1{
    height: 83px;
    overflow: hidden;
}

#nav-part1 svg{
    display: block;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links{
    padding: 0 15px;
}

#nav-part2 #links a{
    font-family: futura now headline;
    font-size: 13px;
    font-weight: 520;
    text-decoration: none;
    color: #333;
    margin:0 20px;
}

#icons {
    padding:0 10px;
    border-radius: 50px;
    background-color: #fff;
}

#nav-part2 #icons i{
    font-size: 18px;
    margin:0 15px;
    padding: 10px;
    font-weight: 100;

}

#cursor{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: blueviolet;
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
}

#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 2vw;
    padding-top: 15vw;
}

#page1 h1 {
    font-size: 16vw;
    font-family: futura, sans-serif;
    line-height: 13.5vw;
    letter-spacing: -15px;
}

#video-container {
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    position:relative;
    background-color: grey;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 3vw 2.3vw;
    background-color: black;
    color: white;
    position: fixed;
    font-size: 1.3vw;
    font-family: futura, sans-serif;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#btw{
    border-bottom: 1px solid black;
    padding-top: 90px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
}

#page2 .elem {
    height: 100%;
    width: 33%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
}

#page2 .elem .dets{
    height: 50px;
    width: 60%;
    position: absolute;
    border-radius: 30px;
    background-color: palegoldenrod;
}

#btw2{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10vw;
}

#btw2 #btw2-left{
    font-size: 30px;
    font-family: futura, sans-serif;
    text-transform: uppercase;
    letter-spacing: -3px;
    padding-left: 30px;
    margin-bottom: 20px;
    line-height: 3.5vw;
}

#btw2 #btw2-right{
    margin-top: 50px;
    width: 30%;
    font-size: 20px;
    font-family:helvetica now Text;
   font-weight: 400;
   color: rgb(54, 54, 54);
   line-height:2vw;
}

#page3{
    min-height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#page4{
    min-height: 100vh;
    width: 50%;
    font-family: helvetica now text;
}

.child{
    height: 65vh;
    width: 40vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img{
    height: 100%;
}

@media (max-width:600px) {
    
    #nav{
        width: 100%;
        position: fixed;
        z-index:99;
        padding: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    #nav-part1{
        height: 63px;
        overflow: hidden;
    }
    
    #nav-part1 svg{
        display: block;
        height: 37px;
        width: 80px;
    }
   #nav #twogoodlogo{
        height: 25px;
        margin-left: -20px;
    }

    #nav #nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    #links{
        padding: 0 15px;
        display: none;
    }
    #icons {
        padding:0 7px;
        border-radius: 50px;
        background-color: #fff;
    }
    
    #nav-part2 #icons i{
        font-size: 15px;
        margin:0 15px;
        padding: 10px;
        font-weight: 100;
    
    }
    #page1 {
        min-height: 70vh;
        width: 100%;
        padding: 0 4vw;
        padding-top: 27vh;
    }

    #page1 h1 {
        font-size: 15vw;
        letter-spacing: -3px;
    }

    #video-container {
        height: 25vh;
        margin-top: 3vw;
    }

    #video-container video {
        height: 25vh;
        margin-top: 3vw;
        object-fit: cover;
        object-position: center center;
    }

    #video-container #play {
        padding: 9vw 6vw;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 4.5vw;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5vw 3vw;
    }
    
    #page2 .elem {
        margin-top: 6vw;
        height: 80vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3vw;
    }
    #page3{
        min-height: 120vh;
        width: 100%;
    
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .child{
        height: 65vh;
        width: 88vw;
        position: relative;
        padding: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .child img{
        height: 100%;
    }
}
